<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Quote Board</title>
  </head>
  <body>
    <div class="container">
      <div class="up">
        <h1 class="title">Inspirational Quotes</h1>
        <%- include('ui') %>
      </div>
      <div class="down"><%- include('quotes') %></div>
    </div>
  </body>
</html>
