
<form action="/new" method="POST" class="form1">

  <label for="quoteInput" class="title"> Insert an inspirational quote </label></br>
  <input class="text1" type="text" name="quote" size="40" height="40"/> </label> <br>
  <label for="authorInput" class="title">Author</label></br>
  <input class="text1" type="text" name="author" size="40" height="40"/> </label>
  <button type="submit">Submit</button>
</form>

