
<form action="/api" method="POST" class="form1">

  <label for="quoteInput"> Insert an inspirational quote </label></br>
  <input class="text1" type="text" name="quote" size="40" height="40"/> </label> <br>
  <label for="authorInput">Author</label></br>
  <input class="text1" type="text" name="Author" size="40" height="40"/> </label>
  <button type="submit">Submit</button>
</form>

